@{
    ViewBag.Title = "Futbol 5 App";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                <a href="https://docs.google.com/document/d/1gzVK6vGjDzDe8yhg5wiPNpn4bfaBXTTrO5xgzi_6IFw/edit#" title="Google Doc">Consigna del Trabajo Práctico.</a>
            </p>
        </div>
    </section>
}
<h3>Pasos a seguir:</h3>
<ol class="round">
    <li class="one">
        <h5>Iniciar sesión</h5>
        Iniciar sesión o registrarse en el sitio.
    </li>

    <li class="two">
        <h5>Registrar los jugadores</h5>
        Ingresar en la sección <mark>Jugadores</mark> los datos de cada uno.
    </li>

    <li class="three">
        <h5>Crear un partido</h5>
        Ingresar en la sección <mark>Partidos</mark>, seleccionar fecha y horario.
    </li>
</ol>
